{% extends 'base.html' %}

{% block title %} Search Results for - {{query}} || Hindi Techpoint {% endblock title %}

{% block body %}

<div class="container my-4">
<h2>Search Results for {{query}} : </h2>
{% if allPosts|length < 1 %}
<p>Your search - <b> {{query}} </b> - did not match any documents.</p>
<p>Suggestions: <br></p>
<li> Make sure that all words are spelled correctly. </li>
    <li> different keywords. </li>
    <li> Try more general keywords. </li>

{% endif %}
{% for post in allPosts %}
    <div style="background-color: #efe0e0; border: 2px solid #777777;
    border-radius: 12px;" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="row p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Posted By {{post.author}}</strong>
            <a style="text-decoration: none;" class="text-dark" href="/blog/{{post.slug}}"><h3 class="mb-0">{{post.title}}</h3></a>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto">{{post.content| truncatechars:250}}</p>
                <br>
            <a href="/blog/{{post.slug}}"><button style="width: 20%" class="btn btn-primary">Continue reading</button></a>

        </div>
    </div>
    <hr>
{% endfor %}
</div>
    

{% endblock body %}